body{
    background-color: lightskyblue;
}

.primeiraparte{
    background-color: lightblue;
}

.foto{
    height: 200px;
} 
.todososnossosestudantes{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
